
                        <aside class="resume-aside col-24 col-md-8 col-xl-7 px-md-4 pb-md-4">


                            {{ if .Site.Params.languages.enable }}
                            {{ partial "languages.html" . }}
                            {{ end }}
                            
                            {{ if .Site.Params.education.enable }}
                            {{ partial "education.html" . }}
                            {{ end }}

                            {{ if .Site.Params.certifications.enable }}
                            {{ partial "certifications.html" . }}
                            {{ end }}

                            {{ if .Site.Params.awards.enable }}
                            {{ partial "awards.html" . }}
                            {{ end }}

                            {{ if .Site.Params.associations.enable }}
                            {{ partial "associations.html" . }}
                            {{ end }}

                            {{ if .Site.Params.skills.enable }}
                            {{ partial "skills.html" . }}
                            {{ end }}

                            {{ if .Site.Params.member.enable }}
                            {{ partial "member.html" . }}
                            {{ end }}

                            {{ if .Site.Params.interests.enable }}
                            {{ partial "interests.html" . }}
                            {{ end }}

                            {{ if .Site.Params.personal.enable }}
                            {{ partial "personal.html" . }}
                            {{ end }}

                        </aside><!--//resume-aside-->
